<form id="editGame" method="POST">
    <h1>Edit a game</h1>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter a name" value="{{game.name}}" required><br>

    <label for="description">Description</label>
    <textarea id="description" name="description" placeholder="Enter a description"
        style="resize: none;">{{game.description}}</textarea><br>

    
    <label for="releaseDate">Release date</label>
    <input type="date" id="releaseDate" name="releaseDate" value="{{game.releaseDate}}" required><br>

    <label for="editor">Editor</label>
    <select id="editor" name="editor">
        <option value="0" disabled selected>-- Select an editor --</option>

        {{#each editors}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select><br>

    <label for="genre">Genre</label>
    <select id="genre" name="genre">
        <option value="0" disabled selected>-- Select a genre --</option>

        {{#each genres}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select><br>

    <input type="submit" value="Submit changes">
</form>

<script src="/scripts/editGame.js"></script>