<div id="gameDetails">
    <img src="/{{game.coverPath}}" id="gameCoverBig" alt="{{game.name}} cover">
    <div id="gameInfo">
        <h1 id="gameTitle">{{game.name}}</h1>
        <p id="gameEditor">
            Editor : <a href="/editor/{{game.editorId}}" id="gameEditorLink">{{game.editor.name}}</a>
        </p>
        <p id="gameGenre">
            Genre : <a href="/genre/{{game.genreId}}" id="gameGenreLink">{{game.genre.name}}</a>
        </p>
        <p id="gameReleaseDate">Release date : {{game.releaseDate}}</p>
        <h2 id="gameDescriptionTitle">Description :</h2>
        <p id="gameDescription">{{game.description}}</p>
    </div>
</div>

<div id="editDeleteData">
    <a href="/edit-game/{{game.id}}" id="editGameButton">Edit game</a>
    <a id="deleteGameButton" data-game-id="{{game.id}}">Delete game</a>
</div>

<script src="/scripts/gameDetails.js"></script>